<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CloudSync</title>
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")" />
</head>
<body>
    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted text-center p-2">
        &copy; 2025 - CloudSync
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
